[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-pptx = "*"
pillow = "*"
pypdf = "*"
docx2txt = "*"
python-multipart = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
openai = "*"
llama-index = "*"
llama-index-embeddings-openai = "*"
torch = "*"
transformers = "*"
supabase = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
exceptiongroup = "*"
setuptools = "==39.1.0"
requests = "*"
pymupdf = "*"
docx = "*"
extract-hwp = ">=0.1.0"

[dev-packages]

[requires]
python_version = "3.8"
