[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
exceptiongroup = "*"
torch = "*"
transformers = "*"
python-pptx = "*"
pillow = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
pypdf = "*"
setuptools = "==39.1.0"

[dev-packages]

[requires]
python_version = "3.8"
